body {
  background-color: #efefef;
}

li {
  list-style-type: none;
  -webkit-padding-start: 0;
}
ul {
  padding: 0;
}
.home-page-up {
  position: relative;
  bottom: 100px; 
}
.top {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  height: 75px;
}

.droppable{
  width: 100%;
}

#category-title {
  padding-left: 9px;
  margin-top: 0;
}


.cancel {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: relative;
  float: right;
  top: -10px;
  right: -10px;
  z-index: 10;
  border: none;
}

#placeholderImg{
  position: relative;
  top: -20px;
}
#filler {
  height: 140px;
}

.new-contact-information {
  position: absolute;
  bottom: 8px;
}

.new-contact-information input{
  margin-bottom: 10px;
  z-index: 1;
  position: relative; 
  margin-left: 20px;
}


.ui-state-default {
  border: none; 
  position: relative;
}

.navbar-default {
  background-color: rgba(255,255,255,.8);
}
#header-image {
  width: 100%;
}

.container.text-center {
  position: relative;
  top: 100px;
}

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 75px;
  margin-top: 10px;
  margin-bottom: 0;
}

#logoA{
  text-decoration: none;  
}

.links{
  display: inline;
  width: auto;
  border-bottom: 1px solid #337ab7;
  padding-bottom: 10px;
}
.links a {
  padding: 0 50px 10px 50px;
  text-decoration: none;
  color: #337ab7;
}

.links a:hover {
  border-bottom: 5px solid #337ab7;
}

.navbar-nav {
  margin: 0 auto;
  float: none;
  width: 541px;
  position: relative;
}

.navbar-nav li {
  padding: 0 50px;
  border-bottom: 1px solid #337ab7;
}

.navbar-nav li:hover{
  border-bottom: 5px solid #337ab7;
}

.navbar-toggle {
  margin: 20px;
  position: absolute;
  right: 0 ;
  top: 0;
}


.navbar-default .navbar-collapse{
  border: none;
}

#main-content{
  top: 200px;
  position: relative;
}

#chart-id {
  text-align: center;
}

#myChart{
  margin: 0 auto;
  display:block;
}

.category {
  color: white;
}

.contacts {
  float:right;
}

#contact-information {
  padding: 0px 15px 15px 15px;
  position: relative;
  top: -20px;
}

#contact-information h3 {
  margin-top: 15px;
  font-weight: 800;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#contact-information p {
  margin-bottom: 5px;
  font-size: 11px;
}

.single-contact-buttons {
  position: absolute;
  margin: 15px;
  bottom: 0;
  font-size: 12px;
}

.button {
  opacity: 0;
}

.single-contact-buttons button {
  border-radius: 3px;
  background-color: lightgray;
  border:none;
}

.see {
  visibility: none;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

div img {
  width: 100%;
  border-radius: 5px 5px 0 0 ;
  position: relative;
  top: -20px;
}

.snaptarget {
  float: left;
  margin: 0 1% 20px 1%;
  width: 31.33%;
}


div .single-contact {
  width: 100%;
  background-color: white; 
  border-radius:5px;
  -webkit-box-shadow: 0px 6px 16px 2px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 6px 16px 2px rgba(0,0,0,0.13);
  box-shadow: 0px 6px 16px 2px rgba(0,0,0,0.13);
  max-width: 300px;
  max-height: 445px;
}


aside{
  float:left;
}

aside input {
  padding: 10px;
  border: none;
  width: 100%;
}

aside div, aside button {
  border-radius: 3px;
}

aside a:hover {
  text-decoration: none;
}

aside button, aside p{
   margin-bottom: 5px;
}

aside p {
  padding: 10px;
  color: white;
  font-weight: 800;
}

aside button {
  text-align: left;
  font-size: 10px;
  background-color: #337ab7;
  padding:10px;
  border:none;
  width: 100%;
  display:inline-block;
  color:white;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

#category-title {
  padding-left: 10px;
  margin-top: 0;
}

aside button:hover {
  background-color: lightgray;
  color: #337ab7;
}

.blue-hover {
  width: 100%;
  background-color: lightgray;
  transition-property: width, background-color;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.blue-hover:hover {
  width: 110%;
  background-color: #337ab7;
}

.active-category { 
  width: 110%;
  background-color: #337ab7;
}

.hovered{
  border-left: 10px solid #337ab7;
}



/*EDIT CONTACT FORM*/
/*EDIT CONTACT FORM*/
#edit-contact {
  z-index: 5000;
  width: 300px;
  margin: 0 auto;
  position: fixed;
  background-color: rgba(15,15,15, .7);
  left: 0;
  right: 0;
  display: block;
  top: 100px;
  border-radius: 6px;
}

#edit-contact input, #edit-contact button {
  border: none;
  border-radius: 3px;
  padding: 10px;
  width:92%;
  margin: 1% 4%;
}

.editContactFormContainer{
  margin: 10px 0;
}

/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
@media only screen and (max-width: 768px){
  .navbar-nav {
    top: 0px;
    width: auto;
    font-weight: 800;
    background-color: rgba(255,255,255,.9);
  }
  .navbar-nav li a {
    text-align: center;
  }
  .navbar-nav li:hover{
    background-color: #337ab7;
    color: white;
    border-bottom: 1px solid #337ab7;
  }
  .navbar-collapse {
    padding: 0;
  }
}

@media only screen and (max-width: 692px){
  .snaptarget{
    width: 48%;
  }
  #main-content {
    top: 120px;
  }
}
